<nav class="navbar navbar-light fixed-top bg-light shadow-sm">
    <div class="container-lg">
        <a class="navbar-brand fw-bold fs-4 mb-2" href="#">Barra de inicio</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle px-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
             <i class="fas fa-bars"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#home">home</a></li>
                <li><a class="dropdown-item" href="#About">About</a></li>
                <li><a class="dropdown-item" href="#services">service</a></li>
                <li><a class="dropdown-item" href="#portfolio">portfolio</a></li>
                <li><a class="dropdown-item" href="#testimonials">testimonial</a></li>
                <li><a class="dropdown-item" href="#contacto">contacto</a></li>
            </ul>
        </div>
    </div>
</nav>